[Unit]
Description=Energenie Server
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/EnergenieServer/enerServer.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
